# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear

# Logs
logs/
*.log

# Spring Boot
*.pid

# Configurações Sensíveis
application*.yml
application*.properties

# Arquivos de sistema
.DS_Store
Thumbs.db
